body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.form-container {
    background: #2196F3;
    padding: 40px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
}
.form-container h2 {
    text-align: center;
}
label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}
input, textarea {
    background: #bbdefb;
}
button {
    background: #0d47a1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background: #1565c0;
}

/* card area*/
.card {
    background: #2196F3;
    margin-top : 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}
.card h2 {
    margin-bottom: 10px;
}
.card p {
    margin: 5px 0;
}